<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Barnata</string>
  <key>CFBundleDisplayName</key>
  <string>Barnata</string>
  <key>CFBundleIdentifier</key>
  <string>io.jackyluong.barnata</string>
  <key>CFBundleExecutable</key>
  <string>Barnata</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>__BUNDLE_VERSION__</string>
  <key>CFBundleShortVersionString</key>
  <string>__SHORT_VERSION__</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Jacky Luong</string>
</dict>
</plist>
